<!DOCTYPE html>
<html>
<head>
    <title>Your Page</title>
</head>
<body>

<h1>Un instant...</h1>
<a href="./" class="href"></a>

<script>
    // Find the element with the class "href"
    var link = document.querySelector(".href");
    
    // Simulate a click event on the link
    link.click();
</script>

</body>
</html>
