body{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100vw 100vh;
}
.title{
    margin-bottom: 60px;
    color: black;
}
.blocCentral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 260px;
    background-color: white;
    border-radius: 7px;
    border: 2px solid rgb(145, 145, 145);
}
.temps{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 320px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid rgb(145, 145, 145);

}
.phrase{
    display: inline-flex;
    font-size: 22px;
}
.pronom{
    margin-right: 16px;
}
input{
    border: 0px;
    border-bottom: 3px solid black;
    font-size: 18px;
    width: 200px;
    text-align: center;
}
input:focus{
    outline: none;
    border-bottom: 3px solid rgb(122, 67, 67);
}
.infinitif{
    margin-left: 16px;
}
.scoreBloc{
    margin-top: 20px;
    height: 23px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1.5px solid rgb(145, 145, 145);
    visibility: hidden;
}
.buttonsBloc{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    height: 25px;
    width: 180px;
    padding-top: 6px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid rgb(145, 145, 145);
    transition: 0.3s;
}
.bt{
    width: 33px;
    height: 33px;
    border-radius: 18px;
    background-color: white;
    border: 2px solid rgb(145, 145, 145);
    transition: 0.15s;
    font-size: 20px;
}
a:hover, .bt:hover{
    transform: scale(1.1);
    background-color: rgb(224, 224, 224);
}
@media screen and (max-width: 800px) {
    .blocCentral{
        width: 85vw;
        height: 65vh;
    }
    .temps{
        width: 80%;
        height: 22%;
        text-align: center;
        padding: 10px;
    }
    .phrase{
        flex-direction: column;
        align-items: center;
    }
    .buttonsBloc{
        flex-direction: column;
        align-items: center;
    }
    .la{
        margin-top: 8px;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .text{
        margin-top: 10px;
        width: 50vw;
        display: flex;
        justify-content: space-between;
    }
    a{
        padding-top: 0px;
    }
    .title{
        text-align: center;
    }
    body{
        display: flex;
    }
}
